body {
    font-family: 'Otomanopee One', sans-serif;
}

h1 {
    font size: 100px;
}

.color-change {
    color: rgb(200, 0, 190);
}

section {
    display: flex;
    margin-top: 0;
}

.half-width {
    width: 50%;
    padding-right: 5%;
    padding-top: 3%;
}

.half-widht img {
    width: 10%;
}

.contract-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 7px;
    border-radius: 7%;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.dream job {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
}